<% content_for :title, "Home" %>

<h1>Home</h1>

<p class="paragraphe">Speedball style is played in an open or partially wooded field filled with inflatable fabric "bunkers" which can be used for protection. The ability for these objects to be inflatable and deflated quickly allows them to be easily moved from venue to venue during competition style paintball. This is why "speedball" is the preferred style for large competitive leagues such as PSP and NPPL and played with <a href="paintballMarker">electronic markers</a>. These games were originally started as a way to make the game safer for players who might trip on uneven woodland terrain. Speedball is generally a fast-paced game where many more paintballs are used than in the traditional game of woodsball.</p>

<%= image_tag("inGame.jpg", :alt => "Example baniere", :class => "round") %>

<p>The original speedball playing area was a field made of manmade bunkers. To make the game faster, field owners began using black drainage pipes anchored into the ground to create a new fast-paced game called hyperball. The next major leap for paintball was the invention of airball. Players were getting bored of the same field over and over again and so they invented flexible high-strength PVC fabric bunkers filled with air. These were easily moved, so that now a field can be made into infinite variations. Over the years a standard in airball was established of a snake side and a dorito side, referring to the type of bunker used on those sides of the field. The field became identical or mirrored on both sides so as to not give one team an advantage. Also a giant center bunker began to be utilized in many <a href="paintballField">fields</a>. The newest advance in paintball is the use of artificial turf on fields. This allows less maintenance of fields, faster play and a much more even match between those two teams, as it is as close to identical on both sides as possible.</p>
