<% content_for :title, "Paintball marker" %>

<h1>Paintball Marker</h1>

<p class="paragraphe">A paintball marker, also known as a paintball gun, is the main piece of equipment in the sport of <a href="home">paintball</a>. Markers use an expanding gas, such as carbon dioxide (CO2) or compressed air, to propel paintballs through the barrel. The term "marker" is derived from its original use as a means for forestry personnel and ranchers to mark trees and wandering cattle.
The muzzle velocity of paintball markers is approximately 300 ft/s (91 m/s). While greater muzzle velocity is possible, it has been ruled unsafe for use on most commercial <a href="paintballField">paintball fields</a>. When paintballs hit an object at high speed they have potential to cause damage; a paintball colliding with human skin may cause bruising or further tissue damage. However, the damage depends on the paintball's velocity, its impact angle, and which part of the body it hits. Because of the potential for soft tissue damage, players must wear masks to protect the eyes, mouth, and ears when barrel blocking devices are not in place.
Most paintball markers have four main components: the body, hopper, gas system (or air tank), and barrel.</p>

<%= image_tag("lanceur.jpg", :alt => "Example baniere", :class => "round") %>