/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
  color:black;
  background-color:white;
  background-image: url(bg.jpg);
  background-attachment:fixed;
}

/* Headers */

header {
  padding-top: 20px;
}

.headerTitle {
	color: white;
  font-family: Hoefler Text;
  font-weight: normal;
}

header img {
  padding: 1em;
  background: #fff;
}

/* Div and sections */

/*
div {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}
*/

html>body div.navigation {
  position: fixed;
}

div.container {
  width: 710px;
   -webkit-box-shadow: 0px 0px 5px 10px rgba(10, 10, 10, 0.5);
  box-shadow: 0px 0px 5px 10px rgba(10, 10, 10, 0.5);

  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;

}

section {
  margin-top: 1em;
  font-size: 100%;
  padding: 20px;
  background: #fff;
}

section h1 {
  font-size: 200%;
}

/* Text */

p {
	font-family: serif;
	text-align: justify;
}

/* Links */

a {
  color: #09c;
  text-decoration: none;
}

a:hover {
  color: #069;
  text-decoration: underline;
}

a:visited {
  color: #069;
}

/* Navigation */

div.navigation {
  float: left;
  width: 300px;
  position: static;
}

.wikiLogo {
  margin-top: 50px;
  margin-left: 80px;
  float: left;
}


nav {
  float: left;
  text-align:left;
  height: 200px;
  width: 220px;
}
/*
nav {
  background-color: white;
  padding: 0 0.7em;
  white-space: nowrap;
  -webkit-box-shadow: 0px 0px 5px 10px rgba(10, 10, 10, 0.5);
  box-shadow: 0px 0px 5px 10px rgba(10, 10, 10, 0.5);
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style-type: none;
  display: list-item;
  padding: 0.2em 0;

}

nav ul li a {
  padding: 0 5px;
  font-weight: bold;
  font-size: 100%;
}

nav ul li a:visited {
  color: #09c;
}

nav ul li a:hover {
  text-decoration: underline;
}
*/


/* rounded corners */
/*
.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

/* Footer */

footer {
  text-align: center;
  margin-top: 10px;
  width: 710px;
  margin-left: auto;
  margin-right: auto;
}

.footerText {
	text-align: center;
	color: white;
}


/**/

#conteneur-menu2 {
    height: 150px;
    width: 220px;
    margin: 10px auto 0px auto;
}
 
#conteneur-menu2 ul {
    float: left;
}
 
#conteneur-menu2 ul li {
    list-style: none;
    padding: 0px;
}
 
#conteneur-menu2 ul li a {
    text-decoration: none;
    font-size: 120%;
    padding: 4px;
    display: block;
    color: white;
    background: transparent;
    width: 250px;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    line-height: 20px;
}
 
#conteneur-menu2 ul li a:hover {
    background: #54B6A8;
    padding-left: 20px;
    width: 200px;
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}