<!DOCTYPE html>
<html>
<head>
  <title>WikiRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<h1>WIKIRAILS</h1>
<h2>The ultimate paintball database</h2>

</head>
<body>

<%= yield %>

</body>

<footer>
<p> Copyright François de Berry - 2013</p>
</footer>

</html>
